// ===== IMPORTS TAILWIND & DAISYUI =====
@use "sass:color";

@import 'tailwindcss/base';
@import 'tailwindcss/components'; 
@import 'tailwindcss/utilities';

// Base
@import 'base/variables';
@import 'base/reset';
@import 'base/typography';

// Components
@import 'components/navbar';
@import 'components/sidebar';
@import 'components/tools';
@import 'components/ecran-travail';
@import 'components/layout';
@import 'components/nav-suiv-pred';
@import 'components/modal-projet';

//ecran
@import 'ecran/header';
@import 'ecran/projet';
@import 'ecran/episode';
@import 'ecran/sequence';
@import 'ecran/scene';
@import 'ecran/scene_tournage';
@import 'ecran/scene_tools_sidebar';
@import 'ecran/left_sidebar_compact';
@import 'ecran/add-episode-ecran';
@import 'ecran/navbar-scene-tools';
@import 'ecran/right-sidebar-compact';

//modal ecran
@import 'modal-ecran/modal-episode';

// Layouts
@import 'layouts/header';
@import 'layouts/footer';
@import 'layouts/grid';
@import 'layouts/back';

// Pages
@import 'pages/acceuil';
@import 'pages/connexion';
@import 'pages/projet';
@import 'pages/recherche';
@import 'pages/ecran';
@import 'pages/admin';
@import 'pages/calendrier-tournage';
@import 'pages/sceneTournage';
@import 'pages/add-comedien';
@import 'pages/statistique';
@import 'pages/add_projet';
@import 'pages/crea_comedien';
@import 'pages/scene_comedien';
@import 'pages/crea_personnage';
@import 'pages/crea_dialogue';
@import 'pages/crea_lieu';
@import 'pages/crea_plateau';
@import 'pages/gestion_raccords';
@import 'pages/resultat_recherche';
@import 'pages/status-gestion';
@import 'pages/type-raccords';
@import 'pages/profile';

@import 'pages/projet_scenariste';
@import 'pages/add_episode';
@import 'pages/episode_scenariste_details';
@import 'pages/add_sequence';
@import 'pages/sequence_scenariste_details';
@import 'pages/add_scene';